# Environnement virtuel
venv/
.env

# Dossier pour VSCode
.vscode

# Dossier projet personnel
projects/*
!projects/.gitkeep

# Fichiers Django inutiles
__pycache__/
*.pyc
*.pyo

# Fichier Mac inutiles
.DS_Store

# Fichier personel à ne pas pusher
src/project_config.json

# Base de données SQLite
db.sqlite3