{% load static %}

<!DOCTYPE html>
<html lang="{language_html}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static "app.css" %}" />
    {bootstrap_css}
    {% block css_files %}{% endblock %}
    <title>{% block title %}My Project{% endblock %}</title>
  </head>

  <body>
  {% block content %}{% endblock %}
  </body>

  {bootstrap_script}
</html>
